@import '../modules/base'

.index_dir
  background-image: url(INDEX_DIR);

.assets_dir
  background-image: url(ASSETS_DIR);

.css_dir
  background-image: url(CSS_DIR);

.js_dir
  background-image: url(JS_DIR);

.image_dir
  background-image: url(IMAGE_DIR);
