-
  IMAGE_DIR = './assets/images/'
  CSS_DIR = './assets/css/'
  JS_DIR = './assets/js/'
  var BREAKPOINT = 736 //sp max = iPhone 6 landscape

  var site_name = 'サイト名'
  // var app_id = ''

  var index = {
    canonical: CANONICAL_ROOT,
    page_type: 'article',
    og_image: 'og.png',
    title: 'コンテンツタイトル | ブランド名',
    description: 'ページディスクリプション',
    // keywords: 'ページキーワード',
  }
