-
  var site_name = 'サイト名'
  // var app_id = ''

  var index = {
    canonical: CANONICAL_ROOT,
    page_type: 'article',
    og_image: 'og.png',
    title: 'ページタイトル',
    description: 'ページディスクリプション',
    // keywords: 'ページキーワード',
  }
