-
  var site_name = 'サイト名'
  var app_id = ''
  // var gtm_id = 'GTM-T588Z5'
  // var ga_id = 'UA-89443373-1'

  var index = {
    canonical: CANONICAL_ROOT,
    page_type: 'article',
    og_image: 'og.png',
    title: 'ページタイトル',
    description: 'ページディスクリプション',
    // keywords: 'ページキーワード',
  }