clearfix()
  &:after
    content ' '
    display block
    clear both


underline()
  position relative
  display inline-block

  &:after
    content ' '
    display block
    position absolute
    left 0
    right 0
    bottom 0

    border-bottom 1px solid
    transform-origin bottom center
    transform scaleY(0.7)


hover(duration = 240, val = 0.65, easing = easeOutQuad)
  transition opacity (duration * 1ms) easing

  &:hover
    opacity val

  @media screen and (max-width: (BREAKPOINT)px)
    transition none

    &:hover
      opacity 1

