.header
  position relative
  display flex
  justify-content space-between
  align-items center

  padding 20px

  // background-color #f00

  &--fixed
    position fixed
    top 0
    left 0
    right 0

  &__center
    text-align center

    &--absolute
      z-index 1
      position absolute
      top 50%
      left 0
      right 0
      margin auto
      transform translate3d(0, -50%, 0)

  &__right
    text-align right

  &__logo
    width 100px


.links
  text-align center

  &__title
    font-size 1rem
    letter-spacing 0em

  &__list
    display flex
    justify-content center
    margin-top 12px

  &__item
    margin-left 12px

    &:first-child
      margin-left 0

  &__itemA
    position relative
    display block

    font-size 1rem
    letter-spacing 0em

    underline()

    &:after
      display none

    &:hover
      &:after
        display block


// .creditList
.creditItem
  margin-top 12px

  &:first-child
    margin-top 0

  &--disable
    .creditItem
      &__a
        pointer-events none

      &__buy
        display none

      &__cont
        text-decoration none

  &__note
    font-size 1rem
    line-height 1

  &__cont
    display inline-block
    // text-decoration underline

    &--buyInline
      .creditItem
        &__txt
          display inline
          margin-right 12px

        &__buy
          display inline

    &--buyRight
      position relative
      padding-right 80px

      .creditItem
        &__buy
          position absolute
          right 0
          bottom 0

  &__a
    display inline-block

    hover()

  &__txt
    display block
    font-size 1rem
    line-height 1

  &__buy
    display block
    font-size 1rem
    line-height 1

    underline()


.iconList
  text-align center

  &__title
    font-size 1rem
    letter-spacing 0em

  &__list
    display flex
    justify-content center
    margin-top 12px

  &__item
    width 32px
    height 32px
    margin-left 12px

    &:first-child
      margin-left 0

  &__itemA
    display block

  &__itemImg
    object-fit contain


.button
  width 100px
  box-sizing border-box

  background-color #ccc
  border 1px solid #000

  text-align center

  &__a
    display block
    position relative
    padding 12px

    &:after
      content ' '
      display none
      position absolute
      width 5px
      height 5px
      margin auto
      border-top 1px solid
      border-right 1px solid

      transition transform 160ms easeOutQuad

  &__txt
    font-size 1rem

  &--arrowTop
    .button
      &__a
        &:after
          display block
          top 6px
          left 0
          right 0
          transform rotate(-45deg) translate3d(0%, 0%, 0)

        &:hover
          &:after
            transform rotate(-45deg) translate3d(32%, -32%, 0)

  &--arrowBottom
    .button
      &__a
        &:after
          display block
          left 0
          right 0
          bottom 6px
          transform rotate(135deg) translate3d(0%, 0%, 0)

        &:hover
          &:after
            transform rotate(135deg) translate3d(32%, -32%, 0)

  &--arrowLeft
    .button
      &__a
        &:after
          display block
          top 0
          bottom 0
          left 8px
          transform rotate(-135deg) translate3d(0%, 0%, 0)

        &:hover
          &:after
            transform rotate(-135deg) translate3d(32%, -32%, 0)

  &--arrowRight
    .button
      &__a
        &:after
          display block
          top 0
          right 8px
          bottom 0
          transform rotate(45deg) translate3d(0%, 0%, 0)

        &:hover
          &:after
            transform rotate(45deg) translate3d(32%, -32%, 0)


.look
  display flex
  justify-content center
  padding 80px (40 / 1280 * 100%)

  .creditList
    margin 12px 12px 0

  .creditItem
    &__note
    &__txt
    &__buy
      font-size 1.4rem
      line-height 1.5

  &--center
    align-items center

  &:first-child
    margin-top 0

  &__box
    position relative
    width (480 / 1200 * 100%)
    margin-left (60 / 1200 * 100%)

    &:first-child
      margin-left 0

    &--small
      width (360 / 1200 * 100%)

    &--large
      width (600 / 1200 * 100%)

    &--creditLeft
    &--creditRight
      width (840 / 1200 * 100%)

      &.look__box--small
        width (630 / 1200 * 100%)

      &.look__box--large
        width (1050 / 1200 * 100%)

      .look
        &__cont
          display flex
          justify-content space-between

      .creditList
        margin 0

    &--creditLeft
      .look
        &__cont
          flex-direction row-reverse

        &__ph
          margin-left (24 / 840 * 100%)

    &--creditRight
      .look
        &__ph
          margin-right (24 / 840 * 100%)

    &--creditBottom
      .look
        &__cont
          align-items end

    &--creditCenter
      .look
        &__cont
          align-items center

  &__num
    // position absolute
    // top 0
    // left 0
    // right 0

    font-size 1.8rem
    font-weight bold
    text-align center

  &__numImg
    width 40px
    margin 0 auto

  &__num + &__cont
    margin-top 12px

  // &__ph



@media screen and (max-width: (BREAKPOINT)px)
  .header
    padding (32 * mn)

    &__logo
      width (180 * mn)


  .links
    &__title
      font-size (25 * mn)

    &__list
      margin-top (20 * mn)

    &__item
      margin-left (20 * mn)

    &__itemA
      font-size (25 * mn)

      &:hover
        &:after
          display none


  // .creditList
  .creditItem
    margin-top (12 * mn)

    &__note
      font-size (25 * mn)
      line-height 1

    &__cont
      &--buyInline
        .creditItem
          &__txt
            margin-right (20 * mn)

      &--buyRight
        padding-right (120 * mn)

    &__txt
      font-size (25 * mn)
      line-height 1

    &__buy
      font-size (25 * mn)
      line-height 1


  .iconList
    &__title
      font-size (25 * mn)

    &__list
      margin-top (20 * mn)

    &__item
      width (48 * mn)
      height (48 * mn)
      margin-left (20 * mn)


  .button
    width (160 * mn)

    &__a
      padding (20 * mn)

      &:after
        width (8 * mn)
        height (8 * mn)

        transition none

    &__txt
      font-size (25 * mn)

    &--arrowTop
      .button
        &__a
          &:after
            top (9 * mn)
            transform rotate(-45deg) translate3d(0%, 0%, 0)

          &:hover
            &:after
              transform rotate(-45deg) translate3d(0%, 0%, 0)

    &--arrowBottom
      .button
        &__a
          &:after
            bottom (9 * mn)

          &:hover
            &:after
              transform rotate(135deg) translate3d(0%, 0%, 0)

    &--arrowLeft
      .button
        &__a
          &:after
            left (12 * mn)

          &:hover
            &:after
              transform rotate(-135deg) translate3d(0%, 0%, 0)

    &--arrowRight
      .button
        &__a
          &:after
            right (12 * mn)

          &:hover
            &:after
              transform rotate(45deg) translate3d(0%, 0%, 0)


  .look
    display block
    padding (100 * mn) (30 * mn)

    .creditList
      width (660 * mn)
      margin (20 * mn) auto 0

    .creditItem
      &__note
      &__txt
      &__buy
        font-size (25 * mn)
        line-height 1.5

    &__box
      position relative
      width auto
      margin (200 * mn) auto 0

      &:first-child
        margin-top 0
        margin-left auto

      &--small
        width (630 * mn)

        .creditList
          margin-left (-15 * mn)
          margin-right (-15 * mn)

      &--large
        width (750 * mn)
        margin-left (- 30 * mn)
        margin-right (- 30 * mn)

        &:first-child
          margin-left (-30 * mn)

      &--creditLeft
      &--creditRight
        width auto

        &.look__box--small
        &.look__box--large
          width auto

        .look
          &__cont
            display block

        .creditList
          margin (20 * mn) (15 * mn) 0

      &--creditLeft
        .look
          &__ph
            margin-left 0

      &--creditRight
        .look
          &__ph
            margin-right 0

    &__num
      font-size (31 * mn)

    &__numImg
      width (60 * mn)

    &__num + &__cont
      margin-top (20 * mn)

    // &__ph
