@import "compass";
@charset "UTF-8";
/*******************************
common.scss
*******************************/
html, body {
  position: relative;
  min-width: 1200px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.mo_op {
  @include transition(opacity 160ms ease-in-out);

  &:hover {
    @include opacity(0.7);
  }
}
