extends /layout/layout

block data
  -
    page = {
      canonical: CANONICAL_ROOT,
      page_type: 'article',
      og_image: 'ogp.png',
      title: 'ページタイトル',
      description: 'ページディスクリプション',
      // keywords: 'ページキーワード',
    }

block css
  link(href=CSS_DIR + 'index.css' rel='stylesheet' type='text/css')

block script
  script(src=JS_DIR + 'index.js' type='text/javascript' charset='UTF-8')

block content
  section
    |content

block modal
