extends /layout/layout

block data
  -
    page = index

block css
  link(href=CSS_DIR + 'index.css' rel='stylesheet' type='text/css')

block script
  script(src=JS_DIR + 'index.js' type='text/javascript' charset='UTF-8')

block content
  section
    |content

block modal
