include /data/common
include /mixin/mixin
block common_data

html(lang='ja')
  head
    include /layout/head


  body
    //- ページコンテンツ
    block common_content

    //- JavaScript
    script(src=JS_DIR + 'libs.js' type='text/javascript' charset='UTF-8')
    block common_script
