include /data/common
include /mixin/mixin
block data

html(lang='ja')
  head
    include /layout/head

  body
    .Wrapper
      //- include /modules/Header

      block content

      //- include /modules/Footer

    //- JavaScript
    script(src=JS_DIR + 'libs.js' type='text/javascript' charset='UTF-8')
    block script
