include /data/common

//- mixins
include /mixin/picture
include /mixin/price_comma

block data

doctype
html(lang='ja')
  head
    include /layout/head

  body
    .wrapper
      //- include /modules/header

      block content

      //- include /modules/footer

    //- JavaScript
    script(src=JS_DIR + 'libs.js' type='text/javascript' charset='UTF-8')
    //- script(src=JS_DIR + 'common.js' type='text/javascript' charset='UTF-8')
    block script
