extends /layout/layout

block common_data
  block data
  
block common_css
  //- link(href=CSS_DIR + 'common.css' rel='stylesheet' type='text/css')
  block css
  
block common_script
  //- script(src=JS_DIR + 'common.js' type='text/javascript' charset='UTF-8')
  block script
  
block common_content
  .Wrapper
    //- include /pc/modules/header
    
    block content
      
    //- include /pc/modules/footer
    
